body{
  background: url(/images/vitraliu-fundal2.png) no-repeat scroll;
  background-size: cover;
}
h1{
 
  font-family: 'Parisienne', cursive;
 
  text-align: center;
  font-size: 100px;
  font-weight: 600;
  font-size:0;
}
span {
  font-size: 7rem;
}

span:hover {
  animation: letterAnim 0.3s forwards; 
}

@keyframes letterAnim{
  0% {font-size:7rem;}
  100% {font-size:10rem;}
}

/**********************************CLASSES*****************************/

.litere {
  text-align: center;
  margin-top: 5em;
  line-height: 10rem;
}
