html body{
  background-color: rgb(206, 206, 206);
  overflow: hidden;
}
.navbar{
  background: none;
  font-family: 'Ubuntu';
}
.navbar-light{
  font-size: 1.5rem;
}
.title{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  position: absolute;
  top: 10rem;
  left: 35vw;
  font-size: 5rem;
}
.descriere{
  position: absolute;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  top: 18rem;
  left: 50vw;
}
.branch{
  width: 20%;
  position: absolute;
  right: 20px;
  top: -30px;
  transform: rotate(7.5deg);
}
#animate{
  display: none;
}
#signature{
  width: 20%;
  position: absolute;
  bottom: 0rem;
  right: 0rem;
}