body{
  background-image: url("images/vitraliu-fundal.png");
}
h1{
  font-family: 'Ballet', cursive;
  text-align: center;
  font-size: 100px;
  font-weight: 600;
  font-size:0;
  display:inline-block;
}
span {
  font-size: 7rem;
}

span:hover {
  animation: letterAnim 0.5s forwards; 
}

@keyframes letterAnim{
  from {font-size:7rem;}
  to {font-size:10rem;}
}

/**********************************CLASSES*****************************/

.litere {
  text-align: center;
  margin-top: 5em;
  line-height: 10rem;
}
